//* Body */
body {
    background-color: #007BFF;  /* Primary Color (blue) */
    color: bl;  /* Default font color (light color for text) */
    font-family: Arial, sans-serif;  /* Default font */
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-behavior: smooth;  /* Smooth scrolling */
}

/* Header */
header {
    background-color: #007BFF;  /* Secondary Color (yellow/gold) */
   
}

/* Logo */
#logo_link img {
    width: 150px;  /* Adjust logo size */
    max-width: 100%;  /* Ensure responsiveness */
}

/* Navigation links */
nav a {
    color: white;  /* Accent 1 Color (red) */
    text-decoration: none;
    font-size: 16px;  /* Font size for nav links */
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #E7C24F;
    color: black;  /* Change color on hover */
}

/* Headings (h1-h6) */
h1, h2, h3, h4, h5, h6 {
    color: black;  /* Light color for headings */
    font-family: 'Arial', sans-serif;
    margin-left: 30px;
}

h1 {
    font-size: 36px;  /* Larger size for h1 */
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;  /* Smaller size for h2 */
    margin-bottom: 15px;
}

h3 {
    font-size: 24px;  /* Medium size for h3 */
    margin-bottom: 10px;
}

/* Paragraphs */
p {
    color: black;  /* Default color for paragraphs */
    font-size: 16px;  /* Font size for paragraphs */
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #A43312;  /* Accent 1 Color (red) */
    padding: 20px;
    color: white;
    font-size: 1em;
    text-align: center;
}

footer p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer p a:hover {
    text-decoration: underline;
}

/* Social Icons */
footer .social a img {
    width: 40px;  /* Resize the icons to 40px */
    height: 40px; /* Keep the icons square */
    margin: 0 10px; /* Space between icons */
    transition: transform 0.3s ease; /* Smooth hover transition */
}

footer .social a:hover img {
    transform: scale(1.1);  /* Slightly enlarge icons on hover */
}

/* Button */
.button-box a {
    background-color: #E7C24F;  /* Secondary Color (yellow/gold) */
 

